# Data files
data/*
!data/.gitkeep
*.csv
*.json
!glasso_test_graphs_output/*.json
!results_export/*.json
!bootstrap_stability/*.csv
*.parquet

# Python & Virtual Environments
__pycache__/
*.pyc
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs and OS files
.vscode/
.idea/
.DS_Store